<div class="row justify-content-center">
  <div class="col-xl-6">
    <h2>Inscription O'Travail</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "S'inscrire",
        class:"btn btn-primary w-100" %>
      </div>
    <% end %>
    <hr class="connection my-5">
    <%- if controller_name != 'sessions' %>
  <%= link_to "Connexion", new_session_path(resource_name), class:"btn btn-outline-primary w-100" %><br />
<% end %>
  </div>
</div>
