<div class="m-8 d-none d-xl-block"></div>
<h2 class="fw-bold my-5 text-center"><span class="text-primary">Code du travail</span> à portée de main</h2>
<h4 class="mb-5">Accédez facilement aux textes du Code du travail et obtenez des réponses personnalisées grâce à notre moteur de recherche avancé.</h4>
<%= render "shared/search_bar" %>

<div class="p-3 border border-2  mb-5 rounded trend">
  <i class="fa-solid fa-arrow-trend-up text-primary"></i>
  Explorez des thèmes comme : <br>
  <% keywords = ["congés payés", "démission", "L.1221-1", "grève", "CPF"] %>
  <% keywords.each do |keyword| %>
    <%= link_to "/articles?key_word=#{keyword}", class:"no-a-style" do %>
      <span class="badge bg-primary-subtle text-primary"><%= keyword %></span>
    <% end %>
  <% end %>
</div>

<div class="row cards">
  <div class="col-6">
    <%= link_to "#", class:"no-a-style" do %>
      <div class="card h-100 border border-2 text-center p-3">
        <div class="card-title text-center fs-1 text-secondary">
          <i class="fa-regular fa-comments"></i>
        </div>
        <h6 class="card-subtitle fw-semibold">
          Je veux des réponses
          <div class="display-inline">sur-mesure</div>
        </h6>
      </div>
    <% end %>
  </div>
  <div class="col-6">
    <%= link_to "#", class:"no-a-style" do %>
      <div class="card h-100 border border-2 text-center p-3">
        <div class="card-title text-center fs-1 text-secondary">
          <i class="fa-solid fa-folder-open"></i>
        </div>
        <h6 class="card-subtitle fw-semibold">Je veux consulter <div class="display-inline">en catégorie</div></h6>
      </div>
    <% end %>
  </div>

</div>
