<div class="row justify-content-center">
  <div class="col-xl-6">
    <h2>Connexion o'Travail</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: "Mot de passe",
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %><br />
        <% end %>
        <%= f.input :remember_me,
                    label: "Se souvenir de moi",
                    as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit,
                     "Se connecter",
                     class:"btn btn-primary w-100" %>
      </div>
    <% end %>
<hr class="inscription my-5">
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "S'inscrire",
                new_registration_path(resource_name),
                class:"btn btn-outline-primary w-100" %>
  <% end %>
  </div>
</div>
