<!DOCTYPE html>
<html>
  <head>
    <title>O'Travail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 't_circle_outline_icon.svg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="container my-3">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
